{%extends 'home.html'%}
{%block mohan %}
    <a href="/buddy/adding/{{all.eveId}}" class="btn btn-outline-primary col-3 mb-2">
        <i class="bi bi-person-plus-fill"></i>
    </a>
    <div class="row justify-content-around">
        {%if all.eveParticipants%}
            {%for x in all.eveParticipants%}
                <div class="mt-2 card me-2 col-lg-4 col-sm-6 p-5 bg-secondary text-light">
                    <h3 class="card-title text-center">{{x}}</h3>
                    <div class="card-body">
                        <a href="/buddy/rem/{{all.eveId}}/{{x}}" class="btn btn-outline-dark float-start">
                            <i class="bi bi-person-dash-fill"></i>
                        </a>
                        <a href="/buddy/win/{{all.eveId}}/{{x}}" class="btn btn-outline-success float-end">
                            <i class="bi bi-trophy-fill"></i>
                        </a>
                    </div>
                </div>
            {%endfor%}
    {%endif%}
    </div>
    
{%endblock mohan%}