{%extends 'home.html'%}
{%block mohan %}
    <a href="/buddy/adding/{{all.eveId}}" class="btn btn-outline-primary col-3 mb-2">
        <i class="bi bi-person-plus-fill"></i>
    </a>
    <div class="row justify-content-around">
        {%if all.eveParticipants%}
            {%for x in all.eveParticipants%}
                <div class="mt-2 card me-2 col-lg-4 col-sm-6 p-5 bg-secondary text-light">
                    <h3 class="card-title text-center">{{x}}</h3>
                </div>
            {%endfor%}
    {%endif%}
    </div>
    
{%endblock mohan%}